<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumbCurrent='我的植入物資訊' content='myinfo' userOn='true' user='張大名' linkLogout='index.html' pageTitle='我的植入物資訊' name='張大名'}}

	{{>footer}}
</body>

</html>