<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumb1='true' breadcrumbLinkTxt='Parent' breadcrumbCurrent='Current' content='news200703' pageTitle='最新消息' linkBackOn='true' linkBack='00newslist.html' backWhere='回列表'}}

	{{>footer}}
</body>

</html>