<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumbCurrent='最新消息列表' content='newslist' pageTitle='最新消息列表' select='true' pageSum='2'}}

	{{>footer}}
</body>

</html>