<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumb1='true' breadcrumbLinkTxt='Parent' breadcrumbCurrent='Current' content='newslist' pageTitle='最新消息列表' pageSum='10'}}

	{{>footer}}
</body>

</html>