<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumb1='true' breadcrumbLinkTxt='關於我們' breadcrumbCurrent='合作醫院或診所' content='about04' pageTitle='合作醫院或診所'}}

	{{>footer}}
</body>

</html>