<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{!-- {{>meta title='臺灣乳房植入物登錄系統 Taiwan Breast Implant Registry'}} --}}
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent content='myinfo' pageTitle='我的植入物資訊' linkBackOn='true' linkBack='#' backWhere='回上頁' name='張大名'}}

	{{>footer}}
</body>

</html>