<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumb1='true' breadcrumbLinkTxt='給病人端的資訊' breadcrumbCurrent='病人登錄方式' content='patinfo02' pageTitle='病人登錄方式'}}

	{{>footer}}
</body>

</html>