<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header}}

	{{>pageContent breadcrumb1='true' breadcrumbLinkTxt='給醫療人員的資訊' breadcrumbCurrent='醫療人員登陸的好處' content='docinfo01' pageTitle='醫療人員登陸的好處'}}

	{{>footer}}
</body>

</html>