<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{!-- {{>meta title='臺灣乳房植入物登錄系統 Taiwan Breast Implant Registry'}} --}}
	{{>meta}}
</head>

<body id="top" class="index">
	{{>header}}

	{{>banner}}

	{{>indexContent}}

	{{>footer}}
</body>

</html>