<!-- footer -->
<div id="footer" class="border-solid border-t border_primary-light bg-white relative">
	<div class="p-3">
		<div class="container_responsive@s uk-container relative">
			<footer class="uk-grid uk-grid-divider uk-grid-small uk-child-width-expand" uk-grid>
				<div uk-margin>
					<div class="uk-flex-center uk-grid" uk-grid uk-margin>
						<div><strong>臺灣乳房植入物登錄系統</strong></div>
						<div>電話：02-66382736 分機1219</div>
						<div>地址：106 臺北市大安區基隆路二段172-1號12樓 衛生福利政策研究中心</div>
						<div><i class="mr-1 fas fa-user-cog"></i><a href="06admlogin.html">系統管理員登入</a></div>
						<div class="w-full text-center">Copyright © 2020 臺北醫學大學-臺灣乳房植入物登錄系統團隊</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- End container_responsive@s uk-container -->
	</div>
</div>
<!-- footer -->

<a id="gototop"
	class="color_white bg_black_opacity-50 hover:bg_black_opacity-70 opacity-0 no-underline p-2 rounded uk-text-center uk-position-fixed uk-position-small uk-position-bottom-right"
	href="#top" title="回到最上" uk-scroll uk-totop><span hidden>回到最上</span></a>