<form>
  {{#if formTitleOn}}
  <h3>{{formTitle}}</h3>
  {{/if}}
  <div class="uk-grid-small uk-child-width-expand@m uk-grid" uk-grid>
    <div class="space-y-1 min_width-1/2!@m">
      <label class="w-full" for="acc">帳 號</label>
      <input id="acc" class="uk-input" type="email" placeholder="">
      <p class="color_secondary-text uk-text-small">{{error1}}</p>
      <p class="color_secondary-text uk-text-small">{{error2}}</p>
    </div>
    <div class="space-y-1 min_width-1/2!@m">
      <label class="w-full" for="pas">密 碼</label>
      <input id="pas" class="uk-input" type="password" placeholder="">
      <p class="color_secondary-text uk-text-small">驗證提示語</p>
    </div>
    {{#if captcha}}
    <div class="space-y-1 min_width-1/2!@m">
      <label class="w-full" for="cap">驗證碼</label>
      <input id="cap" class="uk-input" type="text" placeholder="">
    </div>
    <div class="space-y-1 min_width-1/2!@m">
      <span class="w-full uk-visible@m"></span>
      <img class="inline-block mr-2" data-src="http://fakeimg.pl/150x40/" width="150" height="40" alt="驗證碼" uk-img>
      <a href="#" title="重新換圖"><i class="fas fa-redo"></i></a>
    </div>
    {{/if}}
    <div class="m:mt-8 uk-width-1-1">
      <div class="uk-grid-small uk-child-width-expand uk-grid" uk-grid>
        <div class="space-y-1 min_width-1/2!@m">
          <a href="{{submit}}" class="btn_primary w-full rounded-full uk-button uk-button-primary" {{#if modal}} uk-toggle{{/if}}>登入</a>
        </div>
        {{#if btnCancel}}
        <div class="space-y-1 min_width-1/2!@m">
          <a href="#" class="w-full rounded-full uk-button uk-button-default" type="reset">取消</a>
        </div>
        {{/if}}
        {{#if btnRegister}}
        <div class="space-y-1 min_width-1/2!@m">
          <a href="#register" class="w-full rounded-full uk-button uk-button-default uk-toggle" uk-toggle>註冊</a>
        </div>
        {{/if}}
      </div>
      {{#if linkRegister}}
      <small class="mt-2 text-center block">
        沒有帳戶？<a class="color_primary link_line ml-2 uk-toggle" href="#register" uk-toggle>註冊</a>
      </small>
      {{/if}}
      {{#if formContact}}
      <small class="w-full text-center mt-10">忘記帳戶資訊，請聯絡系統管理員<br><a class="color_primary link_line" href="mailto:sherry5473@tmu.edu.tw">sherry5473@tmu.edu.tw</a><br>02-6638-2736 分機 1219</small>
      {{/if}}
    </div>
  </div>
</form>
{{#if modal}}
<!-- uk-modal-register -->
<div id="modal-formInfo" class="uk-flex-top uk-modal uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <form>
      <button class="uk-modal-close-default" type="button" title="刪除" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">病患資訊</h2>
      </div>
      <div class="uk-modal-body">
        <div class="uk-grid-small uk-child-width-expand@m uk-grid" uk-grid>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full" for="name">姓名</label>
            <input id="name" class="uk-input" type="text" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full" for="bir">生日</label>
            <input id="bir" class="uk-input" type="date" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full" for="id">身分證字號/護照號碼</label>
            <input id="id" class="uk-input" type="text" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full">性別</label>
            <div class="min_height-40 uk-margin uk-flex-middle uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="mr-1 uk-radio" type="radio" name="sex" checked>男</label>
              <label><input class="mr-1 uk-radio" type="radio" name="sex">女</label>
              <label><input class="mr-1 uk-radio" type="radio" name="sex">其他</label>
            </div>
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 uk-width-1-1">
            <label class="w-full" for="add">住址</label>
            <input id="add" class="uk-input" type="text" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full" for="tel">電話</label>
            <input id="tel" class="uk-input" type="tel" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full" for="mob">手機</label>
            <input id="mob" class="uk-input" type="tel" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full" for="em">電子信箱</label>
            <input id="em" class="uk-input" type="email" placeholder="">
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
          <div class="space-y-1 min_width-1/2!@m">
            <label class="w-full">偏好聯絡方式</label>
            <div class="min_height-40 uk-margin uk-flex-middle uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="mr-1 uk-checkbox" type="checkbox">手機簡訊</label>
              <label><input class="mr-1 uk-checkbox" type="checkbox">Email</label>
              <label><input class="mr-1 uk-checkbox" type="checkbox">紙本郵寄</label>
              <label><input class="mr-1 uk-checkbox" type="checkbox">其他<span class="min_width-10"></span><input class="uk-input uk-form-width-small" type="text" placeholder=""></label>
            </div>
            <p class="color_secondary-text uk-text-small">驗證提示語</p>
          </div>
        </div>
      </div>
      <div class="text-center uk-modal-footer" uk-margin>
        <a href="#" class="btn_primary min_width-100 m-0 rounded-full uk-button uk-button-primary">保留</a>
        <button class="min_width-100 rounded-full uk-button uk-button-default" type="reset">刪除</button>
        {{!-- <a href="#login" class="rounded-full uk-button uk-button-default" uk-toggle>返回登入</a> --}}
        <small class="w-full text-center mt-5">請確認以上資訊正確，儲存後將無法再自行修改。若需修改，請洽02-6638-2736 分機 1219，謝謝。</small>
      </div>
    </form>
  </div>
</div>
<!-- uk-modal-register -->
{{/if}}