<div id="footer" class="border-solid border-t border_primary-light bg-white relative">
	<div class="p-3">
		<div class="container_responsive@s uk-container relative">
			<footer class="uk-grid uk-grid-divider uk-grid-small uk-child-width-expand" uk-grid>
				<div uk-margin>
					<!-- <div class="uk-grid uk-flex uk-flex-between uk-flex-right uk-flex-middle" uk-grid uk-margin>
              <div><a class="bg_black min_width-90 text-center no-underline px-2 py-1" href="#" uk-toggle="target: #sitemap">常用連結</a>
              </div>
            </div> -->
					<div class="uk-flex-center uk-grid" uk-grid uk-margin>
						<!-- <div>本網站24小時均可連線查詢</div>
              <div>網頁更新日期: 2019/11/15</div>
              <div>服務專線：(02)2875-7239 ext. 207</div>
              <div>網頁最佳解析：1920×1080</div> -->
						<div>Copyright © 2020 台北醫學大學-台灣乳房植入物登錄系統</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- End container_responsive@s uk-container -->
	</div>
</div>
<!-- footer -->

<a id="gototop"
	class="color_white bg_black_opacity-50 hover:bg_black_opacity-70 opacity-0 no-underline p-2 rounded uk-text-center uk-position-fixed uk-position-small uk-position-bottom-right"
	href="#top" title="回到最上" uk-scroll uk-totop><span hidden>回到最上</span></a>