<!-- index main content -->
<section id="content" class="m:pb-32 relative" uk-height-viewport="expand: true">
  <div class="l:space-y-4 m:-mt-20 container_responsive@s uk-container">
    <div class="uk-grid uk-grid-small uk-child-width-expand@m" uk-grid>
      <div class="min_width-1/3!@m">
        <div class="h-full shadow-lg hover:shadow-2xl relative uk-flex uk-flex-middle">
          <div class="bg_primary opacity-85 uk-position-cover"></div>
          <h2 class="m-0 p-8 text-base text-justify line-38@m text-white relative">臺灣乳房植入物登錄系統(Taiwan Breast Implant
            Registry, TBIR)是臺灣衛生福利部食品藥物管理署的研究計畫，由臺北醫學大學研究團隊承接，並與臺灣整形外科醫學會合作共同建置而成，目的在於提供乳房植入物手術者健康保障，並監控及提升乳房植入物的安全性。
          </h2>
        </div>
      </div>
      <div class="min_width-1/3!@m">
        <div class="overflow_hidden@m h-full hover:shadow-2xl uk-card uk-card-default">
          <h3
            class="text-xl bg_primary color_black! px-2 py-1 m-0 uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            <span class="font-normal uk-width-expand">最新消息</span><a href="#" title="更多"><small>More</small></a></h3>
          <div class="min_height-100@m p-3">
            <ul class="text-justify uk-list">
              <li>
                <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                  <div class="min_width-100 uk-width-auto"><i class="fas fa-angle-right fa-fw"></i><time
                      class="text-sm mr-2">2020-07-03</time></div>
                  <div class="uk-width-expand"><a class="inline uk-text-break" href="#">將於10月5日召開臺灣乳房植入物登錄雛型系統專家會議</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                  <div class="min_width-100 uk-width-auto"><i class="fas fa-angle-right fa-fw"></i><time
                      class="text-sm mr-2">2020-08-21</time></div>
                  <div class="uk-width-expand"><a class="inline uk-text-break" href="#">臺灣乳房植入物登錄雛型系統將於2020年底建立</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative m:absolute mb-4 uk-position-bottom">
    <div class="px-2 text-center container_responsive@s uk-container">
      <div class="uk-grid uk-child-width-expand@s" uk-grid uk-height-match="target: > div > h5">
        <div>
          <a class="w-full" href="#">
            <h5>台北醫學大學</h5>
            <div class="max_height-60 uk-height-small uk-background-contain" data-src="img/tmu.png" uk-img>
            </div>
          </a>
        </div>
        <div>
          <a class="w-full" href="#">
            <h5>臺灣整形外科醫學會</h5>
            <div class="max_height-60 uk-height-small uk-background-contain" data-src="img/tsps.png" uk-img>
            </div>
          </a>
        </div>
        <div>
          <a class="w-full" href="#">
            <h5>衛生福利部食品</h5>
            <div class="max_height-60 uk-height-small uk-background-contain" data-src="img/fda.gif" uk-img>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- index main content -->